doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Doomsday Machine
    link(href='/css/font.css', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .container
      each entry in entries
        h3 team: #{entry.name} time: #{entry.time} ms